body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 800px;
}

.option {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 20px);
    max-width: 400px;
}

.option h3 {
    color: #007bff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.option p {
    color: #666;
    font-size: 1em;
    margin-bottom: 20px;
}

.option form {
    display: flex;
    flex-direction: column;
}

.option label {
    margin-bottom: 5px;
}

.option input[type="text"],
.option input[type="submit"],
.option select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.option button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
